{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@": "./src",
          "@mongo": "./src/mongo",
          "@QL": "./src/QL",
          "@utils": "./src/utils/"
        }
      }
    ]
  ]
}